.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.Header h1 {
    font-size: 5rem;
    font-style: italic;
}

.Header h2 {
    font-size: 2rem;
}