.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 35%;
}

#home {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 4rem;
    text-decoration: none;
}

.Header h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
}

#back {
    color: rgb(122, 122, 122);
    text-decoration: none;
}

#back:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}