.Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
    background-color: #1c1c1e;
    border-radius: 15px;
}

@media screen and (min-width:768px) {
    .Box {
        width: 48rem;
    }
}